/* ==============================

	Colors:
	Whale:  			#262626
	Watermelon:         #ED8E8E
	Link Color:         #59C9EA
	Rare:				#A42922
	Cream:              #EDBD79

	960 Grid Widths:
	1 column               60px
	2 columns             140px
    3 columns             220px
    4 columns             300px
    5 columns             380px
    6 columns             460px
    7 columns             540px
    8 columns             620px
    9 columns             700px
    10 columns            780px
    11 columns            860px
    12 colunns            940px
    Gutters                20px


================================= */